---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import { Info } from "@lucide/astro";
---

<Layout>
  <div class="container mx-auto space-y-8 px-6">
    <!-- Title -->
    <h1 class="relative mb-8 flex items-start justify-center text-4xl font-semibold tracking-tight">
      <span>Atemfrequenz</span>
      <a href="/info" title="Mehr Informationen anzeigen" class="ml-2 self-start text-sm text-gray-600 hover:text-teal-600">
        <Info />
      </a>
    </h1>

    <!-- Instructions -->
    <div class="hidden text-center text-gray-600 sm:block">
      <p class="mb-2">
        Drücke die <span class="font-medium text-black">LEERTASTE</span> mit dem ersten Atemzug um zu starten.
      </p>

      <p>Drücke <span class="font-medium text-black">ESC</span> zum Zurücksetzen.</p>
    </div>

    <!-- Counters -->
    <div class="mt-10 flex flex-col items-center gap-3 sm:gap-6">
      <!-- Timer Count Card -->
      <div id="timerCard" class="hidden w-full max-w-md rounded-xl bg-white p-6 shadow sm:block">
        <div class="text-center">
          <p class="text-sm text-gray-500">Gemessene Zeit</p>
          <p id="timerValue" class="mt-1 text-4xl font-bold">0</p>
        </div>
      </div>

      <!-- Breath Count Card -->
      <div id="breathCard" class="w-full max-w-md rounded-xl bg-white p-6 shadow">
        <div class="text-center">
          <p class="text-sm text-gray-500">Gezählte Atemzüge</p>
          <p id="breathCount" class="mt-1 text-4xl font-bold">0</p>
        </div>
      </div>

      <!-- BPM Card -->
      <div id="resultContainer" class="invisible h-48 w-full max-w-md">
        <div id="bpmCard" class="hidden w-full max-w-md rounded-xl bg-white p-6 shadow">
          <div class="text-center">
            <p class="text-sm text-gray-500">Atemfrequenz</p>
            <div class="grid grid-cols-3 items-baseline justify-center">
              <p></p>
              <p id="bpm" class="text-4xl font-bold">0</p>
              <p id="bpmInfo" class="ml-1 justify-self-start text-sm text-gray-500">/ min.</p>
            </div>
          </div>
        </div>
        <div id="animation" class="mx-auto hidden max-w-md">
          <img src="/images/lung.svg" alt="Lungen Animation" class="mx-auto mt-6 w-36 animate-pulse sm:w-36" />
          <p class="mt-4 text-center text-sm text-gray-800" id="animationText">Mehr Atemzüge benötigt</p>
        </div>
      </div>
    </div>

    <div class="mt-6 flex flex-col items-center">
      <button
        class="hidden size-36 animate-pulse rounded-full bg-white text-2xl font-semibold tracking-wide text-gray-700 shadow-xl transition-all duration-150 active:scale-105 active:animate-none"
        id="tapButton">Start</button
      >
    </div>
  </div>
</Layout>

<script src="../scripts/breath.ts"></script>
